<script type="text/javascript" src="/js/convert-color.js?<%=Time.now.to_i%>"></script>
<script type="text/javascript" src="/js/category-manager.js?<%=Time.now.to_i%>"></script>

<form action="/update-categories" method="post">
    <div id="categorylist-outercontainer">
        <button type="submit"><strong>Save Changes</strong></button>
        <button type="button" onclick="createCategory(null)">new category</button>
        <button type="button" class="set-parent-button" onclick="setParent(null)" style="display: none;">[none]</button>
        <div id="categorylist-innercontainer"></div>
        <button type="submit"><strong>Save Changes</strong></button>
    <div>
</form>

<script type="text/javascript">
    const append_list = [];
</script>
<%@categories.each do | category |%>
    <script type="text/javascript">
        append_list.push({element: instantiateCategory("<%=category['category_name']%>", <%=category['category_id']%>, intToHexColor(<%=category['background_color']%>), intToHexColor(<%=category['text_color']%>)), parent_id:"<%=category['parent_id']%>"});
    </script>
<%end%>
<script type="text/javascript">
    append_list.forEach(element => {
        appendToParent(element.element, element.parent_id);
    });
</script>