<form action="/update-categories" method="post">
    <div id="categorylist-outercontainer">
        <button type="submit"><strong>Save Changes</strong></button>
        <button type="button" onclick="createCategory(null)">new category</button>
        <div id="categorylist-innercontainer"></div>
        <button type="submit"><strong>Save Changes</strong></button>
    <div>
</form>

<script type="text/javascript">
    <%@categories.each do | category |%>
        var new_item = document.createElement('div');
        new_item.className = "categorylist-item";
        new_item.category_id = <%=category['category_id']%>;

        new_item.innerHTML = `
            <div class="categorylist-item-left">
                <span class="category-list-item-name"><input type="text" required value="<%=category['category_name']%>"></span>
                <button type="button" onclick="newCategory(<%category['category_id']%>)">new child</button>
                <button type="button" id="delete-button" onclick="location.href='/delete-category/<%=category['category_id']%>'">delete</button>
            </div>
            <div class="categorylist-item-right">
                <span class="text-color-area">
                Text-color: <input type="color" value="<%=category['text_color']%>">
                </span>
                <span class="background-color-area">
                Background-color: <input type="color" value="<%=category['background_color']%>">
                </span>
            </div>
        `;
        
        new_item.style.marginLeft = (30 * <%=get_nesting_level(category['parent_id'])%>) + "px";

        document.querySelector('#categorylist-innercontainer').appendChild(new_item);
    <%end%>
</script>