<form action="/update-categories" method="post">
    <div id="categorylist-outercontainer">
        <button type="submit"><strong>Save Changes</strong></button>
        <button type="button" onclick="createCategory(null)">new category</button>
        <div id="categorylist-innercontainer"></div>
        <button type="submit"><strong>Save Changes</strong></button>
    <div>
</form>

<script type="text/javascript">
    const append_list = [];
</script>
<%@categories.each do | category |%>
    <div class="categorylist-item" id="<%=category['category_name']%>">
        <div class="category-options">
            <div class="categorylist-item-left">
                <span class="category-list-item-name"><input type="text" required value="<%=category['category_name']%>"></span>
                <button type="button" onclick="newCategory(<%=category['category_id']%>)">new child</button>
                <button type="button" id="delete-button" onclick="delete-category(<%=category['category_id']%>)">delete</button>
            </div>
            <div class="categorylist-item-right">
                <span class="text-color-area">
                    <%# TODO: fix color values%>
                    Text-color: <input type="color" value="<%=category['text_color']%>">
                </span>
                <span class="background-color-area">
                    Background-color: <input type="color" value="<%=category['background_color']%>">
                </span>
            </div>
        </div>
        <div class="sub-categories" id="<%=category['category_id']%>"></div>
    </div>

    <script type="text/javascript">
        var new_item = document.getElementById('<%=category['category_name']%>')
        var nesting_level = <%=get_nesting_level(category['parent_id'])%>
        if (nesting_level) {
            new_item.style.marginLeft = (30 * nesting_level) + "px";
            append_list.push({element: new_item, parent_id:"<%=category['parent_id']%>"});
        }
        else {
            append_list.push({element: new_item, parent_id:"categorylist-innercontainer"});
        }
    </script>
<%end%>
<script type="text/javascript">
    append_list.forEach(element => {
        document.getElementById(element.parent_id).appendChild(element.element);
    });
</script>