<form action="/update-categories" method="post">
    <div id="categorylist-outercontainer">
        <button type="submit"><strong>Save Changes</strong></button>
        <button type="button" onclick="createCategory(null)">new category</button>
        <button type="button" class="set-parent-button" onclick="setParent(null)" style="display: none;">[none]</button>
        <div id="categorylist-innercontainer"></div>
        <button type="submit"><strong>Save Changes</strong></button>
    <div>
</form>

<script type="text/javascript">
    const append_list = [];
</script>
<%@categories.each do | category |%>
    <div class="categorylist-item" id="<%=category['category_id']%>">
        <div class="category-options">
            <div class="categorylist-item-left">
                <button type="button" onclick="collapse(this, <%=category['category_id']%>)" collapsed="false">collapse</button>
                <span class="category-list-item-name"><input type="text" required value="<%=category['category_name']%>"></span>
                <button type="button" class="set-parent-button" onclick="setParent(<%=category['category_id']%>)" style="display: none;">append</button>
                <button type="button" onclick="changeParent(<%=category['category_id']%>)">change parent</button>
                <button type="button" onclick="createCategory(<%=category['category_id']%>)">new child</button>
                <button type="button" id="delete-button" onclick="deleteCategory(<%=category['category_id']%>)">delete</button>
            </div>
            <div class="categorylist-item-right">
                <span class="text-color-area">
                    <%# TODO: fix color values %>
                    Text-color: <input type="color" value="<%=category['text_color']%>">
                </span>
                <span class="background-color-area">
                    Background-color: <input type="color" value="<%=category['background_color']%>">
                </span>
            </div>
        </div>
        <div class="sub-categories" id="subcategories-<%=category['category_id']%>"></div>
    </div>

    <script type="text/javascript">
        var new_item = document.getElementById('<%=category['category_id']%>')
        var nesting_level = <%=get_nesting_level(category['parent_id'])%>
        if (nesting_level) {
            append_list.push({element: new_item, parent_id:"subcategories-<%=category['parent_id']%>"});
        }
        else {
            append_list.push({element: new_item, parent_id:"categorylist-innercontainer"});
        }
    </script>
<%end%>
<script type="text/javascript">
    append_list.forEach(element => {
        document.getElementById(element.parent_id).appendChild(element.element);
    });
</script>


<script type="text/javascript">

collapse = (button, id) => {
    if (button.collapsed) {
        document.getElementById("subcategories-" + id).style.display = "block";
        button.innerHTML = "collapse";
    } 
    else {
        document.getElementById("subcategories-" + id).style.display = "none";
        button.innerHTML = "expand";
    }
    button.collapsed = !button.collapsed
};

deleteCategory = (id) => {

};

let child_to_append = null;
changeParent = (id) => {
    document.querySelectorAll('button').forEach((button) => {
        if (button.className == "set-parent-button") {
            button.style.display = "";
        }
        else {
            button.style.display = "none";
        }
    });

    child_to_append = document.getElementById(id);
};

setParent = (id) => {
    const append_id = (id == null) ? "categorylist-innercontainer" : "subcategories-" + id;
    document.getElementById(append_id).appendChild(child_to_append);
    
    document.querySelectorAll('button').forEach((button) => {
        if (button.className == "set-parent-button") {
            button.style.display = "none";
        }
        else {
            button.style.display = "";
        }
    });
};

let new_id_num = 0;
createCategory = (parent_id) => {
    new_category = document.createElement('div');
    new_category.className= "categorylist-item";
    const id = "new" + new_id_num++;
    new_category.id = id;

    new_category.innerHTML = `
        <div class="category-options">
            <div class="categorylist-item-left">
                <button type="button" onclick="collapse(this, '${id}')" collapsed="false">collapse</button>
                <span class="category-list-item-name"><input type="text" required></span>
                <button type="button" class="set-parent-button" onclick="setParent('${id}')" style="display: none;">append</button>
                <button type="button" onclick="changeParent('${id}')">change parent</button>
                <button type="button" onclick="createCategory('${id}')">new child</button>
                <button type="button" id="delete-button" onclick="deleteCategory('${id}')">delete</button>
            </div>
            <div class="categorylist-item-right">
                <span class="text-color-area">
                    Text-color: <input type="color">
                </span>
                <span class="background-color-area">
                    Background-color: <input type="color">
                </span>
            </div>
        </div>
        <div class="sub-categories" id="subcategories-${id}"></div>
    `;

    console.log(new_category);

    parent_element_id = (parent_id == null) ? "categorylist-innercontainer" : "subcategories-" + parent_id;
    parent = document.getElementById(parent_element_id);
    console.log(parent);
    parent.appendChild(new_category);
};

</script>