<form action=<%="/edit/#{@item['id'].to_s}"%> method="post">
    <div id="creation-form">
        <div><span>Title</span><input type="text" name="title" value="<%=@item['title']%>" required></div>
        <div><span>Description</span><input type="text" name="description" value="<%=@item['description']%>"></div>
        <div><span>Deadline</span>
            <%if @item['deadline'] != nil%>
                <input id="deadline-switch" type="checkbox" name="has_deadline" checked="true">
                <input id="deadline-field" type="datetime-local" name="deadline" min="<%= DateTime.now.to_s.split('T')[0] + "00:00"%>" value="<%=DateTime.parse(@item['deadline']).to_s.split("+")[0]%>"></div>
            <%else%>
                <input id="deadline-switch" type="checkbox" name="has_deadline">
                <input id="deadline-field" type="datetime-local" name="deadline" min="<%= DateTime.now.to_s.split('T')[0] + "00:00"%>"></div>
            <%end%>
        <div>
            <span>category</span>
            <button type="button" id="category-switch">+</button>
            <span id="category-list"><select id="category_selection" name="category" required>
                <% @categories.each do | category |%>
                    <option
                    <%if @item['category_name'] == category%>
                        selected="selected"
                    <%end%>>
                    <%= category %></option>
                <% end %>
            </select></span>
            <span id="new-category" style="display: none;">
                <input type="text">
            </span>
        </div>
        <div><span>Importance</span><input type="range" value="<%=@item['importance']%>" min="1" max="5" step="1" name="importance"></div>
        <div id="form-button-container">
        <button type="submit"> Confirm Change </button>
        <button type="button" id="delete-item" onclick=<%="location.href='/delete/#{@item['id']}'"%>>delete</button>
        </div>
    </div>
</form>

<script type="text/javascript" src="/js/new_category_button.js?<%=Time.now.to_i%>"></script>
<script type="text/javascript" src="/js/deadline_field_state.js"></script>