<script type="text/javascript" src="/js/convert-color.js?<%=Time.now.to_i%>"></script>

<div id="options">
        <script type="text/javascript">
            let urlParams = new URLSearchParams(location.search);

            let sort_option = urlParams.get('sort');
            if (sort_option == null){
                sort_option = "Recent";
            }

            let show = urlParams.get('show');
            if (show == null){
                show = "Uncompleted";
            }

            let category = urlParams.get('category');
            if (category == null){
                category = "All";
            }
        </script>

        <span>Show: <select id="show">
            <option>Uncompleted</option>
            <option>All</option>
            <option>Completed</option>
        </select></span>
        <span>Sort: <select id="sort-options">
            <option>Recent</option>
            <option>Old</option>
            <option>Deadline (Close - Far)</option>
            <option>Deadline (Far - Close)</option>
            <option>Importance (High - Low)</option>
            <option>Importance (Low - High)</option>
        </select></span>
        <span>Category: <select id="category-options">
            <option selected="selected">All</option>
            <% @categories.each do | category |%>
                <option><%= category %></option>
            <% end %>
        </select></span>
        
        <script type="text/javascript"> 
            document.querySelector("#sort-options").value = sort_option;
            document.querySelector("#show").value = show;
            document.querySelector("#category-options").value = category;
        </script>
</div>
<div id="list-container">
    <% @todo.each do | item | %>
        <div class="todo-container" id="<%=item['id']%>">
            <h2><%=item['title']%> </h2>
            <span> <%=item['category_name']%> </span>
            <p><%=item['description']%> </p>
            <%if item['deadline'] != nil%>
            <p><%= time_difference(DateTime.parse(item['deadline']), DateTime.now)%> left </p>
            <%end%>
            <button type="button" id="edit-item" onclick="location.href='/edit/<%=item['id']%>';">edit</button>
            <%is_completed = (item['completion_date'] == nil) ? 0 : 1%>
            <button type="button" id="complete-task" onclick="location.href='/complete/<%=item['id']%>/<%=is_completed%>';">
                <%if is_completed == 1%>
                    Uncomplete
                <%else%>
                    Complete
                <%end%>
                </button>
        </div>
        <script type="text/javascript">
            var container = document.getElementById(<%=item['id']%>);
            
            var text_color = intToRGB(<%=item['text_color']%>);
            container.style.color = text_color;

            var background_color = intToRGB(<%=item['background_color']%>);
            container.style.background = background_color;
        </script>
    <% end %>

    <script type="text/javascript"> 
        reload = () => {
            urlParams.set("sort", sort_option)
           
            urlParams.set("show", show);

            urlParams.set("category", category);

            location.href = "/?" + urlParams;
        }

        document.querySelector("#sort-options").addEventListener('change', (e) => {
            sort_option = e.target.value;
            reload();
        });

        document.querySelector("#show").addEventListener('change', (e) => {
            show = e.target.value;
            reload();
        });

        document.querySelector('#category-options').addEventListener('change', (e) => {
            category = e.target.value;
            reload();
        })
    </script>
</div>